<!-- Main container for the Login form -->
<div class="container">

    <!-- Login form box -->
    <div class="loginBox">

        <!-- User avatar image -->
        <img class="user" src="/assets/form-face2.png" height="100px" width="100px">

        <!-- Login title -->
        <h3>Login here</h3>

        <!-- Form for user input -->
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <!-- Fields for email, and password -->
            <div class="inputBox">

                <input id="email" type="email" name="Email" placeholder="E-mail id" class="form-control"
                    formControlName="email">
                <!-- Email errors -->
                <div class="text-red-500" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</span>
                    <span *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email</span>
                </div>

                <input id="pass" type="password" name="Password" placeholder="Password" class="form-control"
                    formControlName="password">
                <!-- Password errors -->
                <div class="text-danger"
                    *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</span>
                    <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6
                        characters</span>
                    <small *ngIf="loginForm.get('password')?.errors?.['pattern']"> Password must have at least 6
                        characters, 1 capital letter and 1 number.</small>

                </div>
            </div>

            <!-- Submit button for the login form -->
            <input type="submit" name="" value="Login">

        </form>


        <!-- signup link for users with an existing account -->
        <div class="text-center text-white">
            Don't have an account?<a href="signup" style="color: #59238F;" class="ms-2">Sign-Up</a>
        </div>

    </div>
</div>