<app-navbar></app-navbar>

<div class=" mx-auto mt-18">
    <section class="relative w-full h-screen min-h-[600px] overflow-hidden flex items-center">

        <!-- Background Image -->
        <div class="absolute inset-0">
            <img src="/assets/background-image.jpeg" alt="Background Image" class="w-full h-full object-cover" />
        </div>

        <!-- Overlay for Better Visibility -->
        <div class="absolute inset-0 bg-black/50"></div>

        <!-- Content Inside the Section -->
        <div class="relative z-10 text-white text-center flex items-center flex-col px-4">
            <h1 class="text-5xl font-bold mb-4">Welcome to ChatApp</h1>
            <h3 class="text-3xl mb-4">Instant Communication, Anytime, Anywhere.</h3>
            <p class="mb-4 text-xl w-11/12 md:w-1/2">
                With <strong>real-time chat app</strong>, staying connected has never been easier!
                Whether you're chatting with friends, family, or colleagues, Chat app ensures fast, reliable, and secure
                communication in real-time.
            </p>

            <!-- Join Chat Button -->
            <button class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-300 
                           font-medium rounded-lg text-lg px-6 py-3 mt-4" (click)="joinChat()">
                Join Chat
            </button>

            <!-- Divider -->
            <div class="my-6 w-full flex justify-center">
                <hr class="border-t-2 border-white w-1/3 md:w-1/2 opacity-80">
            </div>

            <!-- Log in Link -->
            <p class="text-xl w-11/12 md:w-1/2" routerLink="/chat/list">Already a member?
                <a href="login" class="text-purple-500 hover:text-purple-300 underline">Log in</a>
            </p>
        </div>
    </section>


    <main>
        <div class="flex flex-col md:flex-row justify-between h-full items-center mt-12">

            <!-- Image Section -->
            <div class="w-full md:w-1/2 h-1/2 md:h-full p-14 flex items-center justify-center">
                <img src="/assets/message-image.jpg" alt="Message Image" class="w-full h-full object-cover" />
            </div>

            <!-- Text Section -->
            <div class="w-full md:w-1/2 h-1/2 md:h-full p-10 flex flex-col justify-center items-center ">
                <h2 class="text-3xl font-bold text-center text-purple-800">Real-Time Messaging</h2>
                <p class="text-xl p-6 px-16">Send and receive messages instantly with minimal delay.<strong> Real Time
                        Chat App</strong> supports seamless real-time communication, so you never miss a conversation.
                </p>
            </div>
        </div>


        <div class="flex flex-col md:flex-row justify-between h-full items-center ">

            <!-- Text Section -->
            <div class="w-full md:w-1/2 h-1/2 md:h-full p-10 flex flex-col justify-center items-center ">
                <h2 class="text-3xl font-bold text-center text-purple-800">Room Management</h2>
                <p class="text-xl p-6 px-16">Welcome to Room Management, the ultimate platform for seamless room
                    creation, real-time communication, and easy switching between chat rooms.
                </p>
            </div>

            <!-- Image Section -->
            <div class="w-full md:w-1/2 h-1/2 md:h-full p-14 flex items-center justify-center">
                <img src="/assets/streamline-communication.png" alt="Message Image"
                    class="w-full h-full object-cover" />
            </div>


        </div>
    </main>
</div>

<app-footer></app-footer>